/*navbar open*/
.container {
    width: 1170px;
    position: relative;


}

.srija {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.srija img {
    width: 100px;
    aspect-ratio: 3 / 2;
    object-fit: contain;
    padding: 5px 0px;
}

.srija span {
    color: #000000;
    font-family: Bitter;
    display: inline-block;
    line-height: 1;
    max-width: 380px;
    outline: none;
    text-decoration: none;
    text-overflow: ellipsis;
    font-size: 24px;
}

.navbar,
.navbar>.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {

    .navbar,
    .navbar>.container {
        display: block;
    }
}

.navbar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;

    border-bottom: 1px solid #eceef3;
    /*
    |-----------------------------------
    | Start navbar logo or brand etc..
    |-----------------------------------
    */
    /*
    |-----------------------------------
    | Start navbar menu
    |-----------------------------------
    */
}



.navbar .navbar-header {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar .navbar-header {
        width: -webkit-fill-available;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 0px 10px 0px 0px;
    }

    .srija img {
        width: 80px;
    }

    .srija span {
        font-size: 20px;
    }

}

.navbar .navbar-header .navbar-toggler {
    cursor: pointer;
    border: none;
    display: none;
    outline: none;
}

@media (max-width: 768px) {
    .navbar .navbar-header .navbar-toggler {
        display: block;
        margin-right: 2px;
        background: none;
    }
}

.navbar .navbar-header .navbar-toggler span {
    height: 5px;
    width: 30px;
    background-color: #000000;
    display: block;
}

.navbar .navbar-header .navbar-toggler span:not(:last-child) {
    margin-bottom: 0.2rem;
}



.navbar .navbar-menu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    font-size: 22px;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .navbar .navbar-menu {
        display: none;
        text-align: center;
    }
}

.navbar .navbar-menu.active {
    display: flex !important;
}

.navbar .navbar-menu .navbar-nav {
    margin-left: auto;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav {
        width: 100%;
        display: block;
        border-top: 1px solid #EEE;
        margin-top: 1rem;
    }
}

.navbar .navbar-menu .navbar-nav>li>a {
    color: #3c4250;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
}

.navbar .navbar-menu .navbar-nav>li>a:hover {
    color: #66f;
}

@media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav>li>a {
        border-bottom: 1px solid #eceef3;
    }

    header section:nth-child(1) {
        display: none !important;
    }
}



header {
    width: 100%;
    background-color: black;
    display: flex;
}

header section {
    width: 100%;
    padding: 0.5rem 2rem;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header section span {
    padding: 0 1rem;
    text-align: center;
    white-space: nowrap;
}

header section span a {
    color: white;
}

header section span:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    list-style: none;
    position: absolute;
    top: 135%;
    background-color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 160px;
    width: auto;
    white-space: nowrap;
    border-top: 4px solid red;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 99999;
    display: none;
}

@media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
        position: relative;
        box-shadow: none;
        background-color: #fafafa;
    }

    .dropdown {
        padding: 8px;
    }
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
    color: #3c4250;
    padding: 0.25rem 1rem;
    display: block;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
    display: block !important;
}

.navbar .navbar-menu .navbar-nav .dropdown>.separator {
    height: 1px;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: #eceef3;
}

.navbar .navbar-dropdown {
    position: relative;
}



.navbar .navbar-header h4 {
    font-weight: 500;
    font-size: 1.25rem;
}

.navbar .navbar-menu .navbar-nav>li.active a {
    color: #66f;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li.active a {
    color: #66f;
}

@media (max-width: 768px) {
    .navbar .navbar-header h4 {
        font-size: 1.05rem;
    }
}

/*navbar close*/

/*Footer Section start Here */
.partner img {
    width: 100px;
    display: flex;
}

.partner h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.partner h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.partner h4 {
    color: white;
    font-size: 15px;
}

.partner {
    margin-left: 15px;
    width: 23%;

}

.partner img {
    width: 45%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a img {
    width: 100%;
}

.footer-col .social-links a {
    display: inline-block;
    height: 35px;
    width: 24px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.containersr {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #000000;
    padding: 20px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

/*responsive*/
@media(max-width: 768px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .partner img {
        width: 50%;
        aspect-ratio: 3/2;
        object-fit: contain;
    }

    .partner {
        margin-left: 15px;
        width: 45%;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 50%;
    }
}

.logo_partner {
    display: flex;
    flex-direction: row;
}

#footer-rights {
    position: absolute;
    font-size: large;
    background: orange;
    width: 100%;
    text-align: center
}