* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: math;
  font-size: 0.925rem;
}

a {
  text-decoration: none;
}

.news-container {
  overflow: hidden;
  white-space: nowrap;
  background: #ffcc00;
  padding: 10px;

}

.news-ticker {
  display: inline-block;
  animation: marquee 50s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.mail img{
  width: 21px;
  position: relative;
  top: 5px;
}
.phone img{
  width: 21px;
  position: relative;
  top: 5px;
}
.hours-24 img{
  width: 21px;
position: relative;
top: 5px;
}


.containervrd {
  position: absolute;
  width: 150vh;
  height: 350px;
  padding-top: 15px;
  top: 95%;
  left: 44%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.slide {
  display: inline-block;
  width: 165px;
  height: 213px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
  transition: 0.5s;
}



.slide:nth-child(1),
.slide:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.slide:nth-child(3) {
  left: 50%;
}

.slide:nth-child(4) {
  left: calc(50% + 220px);
}

.slide:nth-child(5) {
  left: calc(50% + 440px);
}

.slide:nth-child(6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
}

.slide:nth-child(2) .content {
  display: block;
}

.content .name {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
  animation: anim 1s ease-in-out 1 forwards;
}

.content .desc {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: anim 1s ease-in-out 0.3s 1 forwards;
}

.content .btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background: #fff;
  cursor: pointer;
  opacity: 0;
  animation: anim 1s ease-in-out 0.6s 1 forwards;
}

@keyframes anim {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(50px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.buttons {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.buttons button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.3s;
}

.buttons button:hover {
  background: #505050;
  color: #fff;
}

/*testonomia*/
.testimonial-container {
  width: 100%;
  margin-left: auto;
  overflow: hidden;
  margin-right: auto;
}

.Expert-message {
  text-align: center;
}

.Expert-message span {
  color: #FF5722;
  text-decoration: underline;
}

.testi-monial {
  padding: 20px;

}

.testimonial-slide {
  display: flex;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
}

.testimonial {
  flex: 1 0 99.5%;
  padding: 20px;
  text-align: center;
  background: #055c48;
  border-radius: 15px 20px 15px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.testimonial p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
  line-height: 2;
}

.testimonial img {
  width: 40%;
  height: 45%;
  background-size: cover;
  background-position: center;

  border-radius: 50%;
}


.testimonial h3 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #ffffff;
}

.testimonial small {
  font-size: 16px;
  color: #FF5722;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .testimonial p {
    font-size: 10px;
  }

  .testimonial-container {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    overflow: hidden;

  }

  .testimonial h3 {
    font-size: 20px;
  }

  .testimonial {
    flex: 1 0 97%;
    padding: 20px;
    text-align: center;
  }
}

/*end testonomia*/


.item {
  position: relative;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #007BFF;
  background: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:hover {
  background: #f0f0f0;
}

.text-overlay-1,
.text-overlay-2,
.text-overlay-3,
.text-overlay-4 {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #a4a4a45c;
  color: white;
  padding: 20px;
  font-size: 30px;
  border-radius: 15px;
}


.slider {
  width: 1499px;
  max-width: 100%;
  height: 378px;
  /* margin: auto; */
  position: relative;
  overflow: hidden;
}

.slider .list {
  position: absolute;
  width: max-content;
  height: 50%;

  top: 0;
  display: flex;
  transition: 1s;
}

.slider .list img {
  width: 1500px;
  max-width: 100vw;
  height: 200%;

  object-fit: cover;
}

.slider .buttons {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(5, 187, 66, 0.822);
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.slider .dots {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #c0ed46;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.slider .dots li.active {
  width: 30px;
  background: gold;
}

@media screen and (max-width: 768px) {
  .slider {

    width: auto;
  }

}

.education {
  height: 300px;
  padding-top: 10px;
  background-color: darkcyan;
  color: #ffffff;
  margin-top: 15px;
  box-shadow: 0px 2px 5px 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 15px 15px 73px 103px;

}

.education h1 {
  text-align: center;
  width: 30%;
  margin-left: auto;
  font-family: math;
  margin-right: auto;
  border-style: dotted;
  border-radius: 12px;
}

.num {
  font-size: 30px;
}

.text {
  font-size: 28px;
  font-family: math;
  text-align: center;
}

.education p {
  text-align: center;
  font-size: 28px;
  font-family: math
}

.wrapper1 {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.container-fm-sr img {
  width: 26%;
}

.container-fm-sr {
  width: 90vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  align-content: center;
  align-items: center;
}

/* footer*/


button {
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}



h3,
p {
  margin: 0;
}

.product-section {
  padding: 2em;
  text-align: center;

}

.product-section-Ag {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}


.product-section .product-vr {
  background: #fff;
  margin: 1em auto;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 400px;
}

.product-section-Ag img {
  width: 90%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .slider .list img {
    width: 1500px;
    max-width: 100vw;
    height: 251%;
    object-fit: cover;
  }

  .education h1 {
    text-align: center;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    border-radius: 12px;
    text-decoration: underline;
  }

  .container-fm-sr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px 70px;
    font-size: 16px;
    border-radius: 0.5em;
    align-items: center;
    margin: auto;
  }

  .education {
    height: auto;
    padding-top: 20px;
    color: white;
    margin-top: 15px;
    width: 100%;
    border-radius: 0;
  }

  .education p {
    text-align: center;
    font-size: 21px;
    font-family: math;
  }

  .wrapper1 {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .text-overlay-4 {
    position: absolute;
    top: 95%;
    left: 48%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: none;
    color: white;
    background: #a4a4a45c;
    padding: 20px;
    border-radius: 15px;
  }

  .text-overlay-3 h2 {
    font-size: 30px;
  }

  .text-overlay-3 {
    position: absolute;
    top: 95%;
    width: 90%;
    left: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: none;
    color: white;
    background: #a4a4a45c;
    padding: 20px;
    border-radius: 15px;
  }

  .text-overlay-1 h2 {
    font-size: 15px;
  }

  .text-overlay-1 {
    position: absolute;
    top: 95%;
    width: 90%;
    left: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: none;
    color: white;
    background: #a4a4a45c;
    padding: 20px;
    border-radius: 15px;
  }

  .text-overlay-2 h2 {
    font-size: 30px;
  }

  .text-overlay-2 {
    position: absolute;
    top: 95%;
    width: 90%;
    left: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: none;
    color: white;
    background: #a4a4a45c;
    padding: 20px;
    border-radius: 15px;
  }

  .slider .buttons button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #126317;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    display: none;
  }

}

.slider .dots {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider .buttons {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.slider .buttons button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #126317;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.farmer-success-section h2{
  text-align: center;
  padding-top: 20px;
}
.story-container {
  width: 65%;
  margin: auto;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  column-gap: 21px;
  padding: 20px;
}
.story-card {
  border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    scroll-snap-align: center;
    justify-content: center;
    align-items: center;
    display: flex
;
    min-width: 100%;
    object-fit: cover;
}
.story-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}
@media (max-width: 768px) {
  
  .story-container {
    width: 95%;
    margin: auto;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    column-gap: 12px;
    padding: 20px;
}
.story-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  scroll-snap-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  min-width: 114%;
  object-fit: cover;
}
}
