body {
  margin: 0;
}


/*banner with company research & deve*/

.Field-Srija-container {
  width: 100%;
  background-image: url(research-images/soil-testing-banner.jpg);
  background-size: cover;
  height: 40vh;
}

.Sriga-Agro h1 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  margin: 5px 0;
}


.wrapper {
  grid-column-gap: 37px;
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding:5px 30px 30px 30px;
}

.Field-vardhan {
  width: 50%;
}

.Field-Srija {
  width: 50%;
}

.Field-vardhan video {
  border-radius: 12px;
}

.Research-Development-Tech h2 {
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.Field-Srija p {
  line-height: 26px;
  text-align: justify;
}

.Sriga-Agro {
  width: 100%;
  height: -webkit-fill-available;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.factors {
  background: ghostwhite;
}

.Sriga-Agro p {
  font-size: 25px;
  color: white;
  margin: 5px 0;
}

.Research-Development-Tech {
  background: linear-gradient(304deg, #E91E63, transparent);
}

@media screen and (max-width: 768px) {
  .Field-Srija-container {
    width: 100%;
    background-size: auto;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Sriga-Agro p {
    padding-left: 14px;
    font-size: 17px;
  }

  .Sriga-Agro h1 {
    color: #8BC34A;
    font-size: 20px;
    padding-top: 15px;
  }

  .Sriga-Agro {
    width: 81%;
    background: #f0f8ff24;
    height: min-content
  }

  .wrapper {
    grid-column-gap: 37px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .Field-vardhan {
    width: 100%;
  }

  .Field-vardhan h2 {
    position: static;
  }

  .Field-Srija {
    width: 100%;
  }

  .Field-Srija p {
    text-align: justify
  }

  ;

  .Field-Srija p {
    line-height: 0px;
  }
}



/*end research*/




.process-container {
  text-align: center;
  padding: 10px;
}

.process-container h1 {
  margin-bottom: 40px;
  font-size: 28px;
  color: #555;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.step {
  width: 300px;
  text-align: center;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.circle {
  width: 70px;
  height: 70px;
  margin: 0 auto 10px;
  border-radius: 50%;
}

.yellow {
  background-image: url(research-images/3442648.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto 15px;
}

.orange {
  background-image: url(research-images/15758635.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto 15px;
}

.red {
  background-image: url(research-images/pngtree-laboratory-research-and-genetic-engineering-concept-png-image_8900778.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto 15px;
}

.blue {
  background-image: url(research-images/smart-farming-and-agriculture-technology-line-icon-vector.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto 15px;
}


.arrow {
  width: 40px;
  height: 2px;
  background-color: #ccc;
  position: relative;
}

.arrow::after {
  content: '';
  position: absolute;
  top: -4px;
  right: -10px;
  border: solid transparent;
  border-width: 6px;
  border-left-color: #ccc;
}

.step h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.step p {
  font-size: 14px;
  color: #777;
}

@media screen and (max-width: 768px) {
  .steps {
    flex-direction: column;
  }

  .arrow {
    display: none;
  }
}

/*Footer Section start Here 
INCLUDED IN HEAD STYLES.CSS */