* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}




/*main part*/
.contact-bg {
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(contact-us.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-bg h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.Destination-reach {
  text-align: center;
  color: forestgreen;
  font-weight: bold;
}

.map {
  width: 100%;
  display: flex;
  margin-left: auto;
  gap: 15px;
  margin-right: auto;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px;
}

.map-head h3 {
  color: #e91e63;
  text-align: center;

}

.map iframe {
  border-radius: 15px;
  height: 60vh;
  max-width: 90%;
}

.map h1 {
  text-align: center;
}

.contact-bg h2 {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}

.line div {
  margin: 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  background: #f7327a;
  border-radius: 5px;
}

.line {
  display: flex;
  align-items: center;
}

.line div:nth-child(2) {
  width: 10px;
  height: 10px;
  background: #f7327a;
  border-radius: 50%;
}

.text {
  font-weight: 300;
  opacity: 0.9;
}

.contact-bg .text {
  margin: 1.6rem 0;
}

.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}

.contact-info {
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
  position: relative;
  left: 30px;
}

.contact-info span {
  display: block;
}

.contact-info div {
  margin: 3.8rem 0;
  padding: 1rem;
}

.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: #f7327a;
}

.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}

.contact-info .text {
  padding-top: 0.4rem;
}

.contact-form {
  padding: 2rem 0;
  border-top: 1px solid #c7c7c7;
}

.contact-form form {
  padding-bottom: 1rem;
}

.form-control {
  width: 100%;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.6rem 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  outline: 0;
}

.form-control:focus {
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

.contact-form form div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.6rem;
}

.send-btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background: #f7327a;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.send-btn:hover {
  opacity: 0.8;
}

.contact-form>div img {
  width: 85%;
}

.contact-form>div {
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contact-bg .text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }



  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .contact-bg .text {
    width: 50%;
  }

  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info {
    grid-template-columns: repeat(4, 1fr);
  }
}



.phone-x img {
  width: 50%;
}

.phone-C {
  box-shadow: 10px 15px 21px 1px rgba(255, 0, 0, 0.425);
  border-radius: 15px;
  width: 80%;
}

.phone-M {
  box-shadow: 10px 15px 21px 1px rgba(19, 112, 155, 0.384);
  border-radius: 15px;
  width: 80%;
}

.phone-H {
  box-shadow: 10px 15px 21px 1px rgba(150, 40, 113, 0.425);
  border-radius: 15px;
  width: 80%;
}

.phone-T {
  box-shadow: 10px 15px 21px 1px rgba(11, 112, 45, 0.479);
  border-radius: 15px;
  width: 80%;
}


/*responsive*/
@media(max-width: 767px) {
  
  .map {
    width: 100%;
    display: flex;
    margin-left: auto;
    gap: 15px;
    margin-right: auto;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px;
    flex-direction: column;
  }
}
  
