*{
    margin: 0;
    font-family: math;
}



/*new section*/
.container-Product {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.product{
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    padding: 15px;
}
.product img {
    max-width: 130px;
    margin-right: 20px;
    background: #94938d7d;
    border-radius: 4px;
    padding: 15px;
}
.product-info{
    display: flex;
    flex-direction: column;
}
.product-info h2{
    font-size: 20px;
    color: #333;
    margin: 0 0 10px;
}
.product-info p{
    margin: 5px 0;
    color: #555;
    font-size: 14px;

}
.product-info p span{
    font-weight: bold;
    color: #000;
}
.banner{
    background-image: url(Maize-image/Maize.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0;
    text-align: center;
}
.banner h1{
    font-size: 2em;
    margin: 0;
}
.breadcrumb{
    font-size:1.8em;
}
.breadcrumb a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.breadcrumb a:hover{
    text-decoration: underline;
    color: #E91E63;
}
.Power-vardhan{
    margin-top: 20px;
}
.Power-vardhan h1{
    text-align: center;
}
@media (max-width: 768px) {
    .container-Product{
        max-width: 127rem;
        margin: 0 auto;
        display: flex;
        padding: 15px;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
    .product {
        background: #fff;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        padding: 15px;
        flex-direction: column;
        align-items: center;
    }
    .product img {
        max-width: 100px;
        margin-right: 0px;
    }
    .product-info h2 {
        font-size: 20px;
        color: #E91E63;
        margin: 0 0 10px;
        text-align: center;
    }
    .banner {
        background-image: url(../images/img5.jpg);
        background-size: cover;
        background-position: center;
        height: 173px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin: 0;
        text-align: center;
    }
    .breadcrumb {
        position: relative;
        left: 0;
        font-size: 21px;
        top: 0;
        height: fit-content;
        text-decoration: dotted;
    }
}
/*end of new section*/

